body {
  margin: 0;
  padding: 0;
  font-family: "acrom";
  min-width: 1000px;
}

.like-time {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.main {
  background-image: url(images/bg1.png);
  background-size: cover;
  background-position: center center;
}

.main__like {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__like img {
  margin-right: 25px;
}

.main__like span {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
}

.main h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
}

.main a.main__yes {
  width: 220px;
  height: 220px;
  font-size: 80px;
  border: 5px solid #e63950;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-decoration: none;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.main a.main__yes:hover {
    color: #e63950;
}

.main__arrow {
  animation: arrow-anim 1s infinite;
}

.main__arrow-left {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.main__arrow-right {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

@keyframes arrow-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.message {
  background-image: url(images/bg2.png);
  background-size: cover;
  background-position: center center;
}

.message video {
  width: 830px;
  height: 467px;
}

.message h3 {
    margin-top: 40px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
}

.message h3 span {
    color: #EC5569;
}

.vk {
    background-image: url(images/bg3.png);
    background-size: cover;
    background-position: center center; 
}

.vk a {
    color: white;
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    transition: 0.3s;
}

.vk a:hover {
    color: #5AAAE7;
}